.homePageWrap {
  padding-right: 31px;
  padding-left: 31px;
  padding-top: 29px;
}

.pageTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 0.8;
  letter-spacing: 0.05em;
}

.homeMovieList {
  padding: 0;
}

.homeMovieItem {
  font-weight: 400;
}
