@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0 80px 0 80px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  all: unset;
}

ul {
  list-style: none;
}
